/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(10px);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #EEEEEE;
    margin: 15% auto;
    padding: 21px;
    border: 1px solid #605858;
    width: 20%;
    border-radius: 30px;
  }
  
  /* The Close Button */
  .close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-panel {
    display: grid;
  }
  
  .modal-dip {
        display: grid;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
}
  .edit {
    background-color: #3A98B9;
    color: black;
    padding: 8px 15px;
    border-radius: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.7s ease;
    margin-left: 1em;
}

.mostra-orario{

    color: #3A98B9;
    height: 40px;
    border-radius: 14px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.7s ease;
    margin-left: -1em;
    align-content: center;
    align-items: start;
    justify-items: center;
    justify-content: start;

}

.edit:hover {
    transform: scale(1.1);
}

#modal.mostrato {
    display: block;
  }
