<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style.css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" href="static/css/stile.css" th:href="@{/css/stile.css}"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<title>Aggiungi Dipendente</title>
</head>
<body>
    <div align="center">
        <h1>Aggiungi Dipendente</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${dipendente}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Nome Dipendente:</td>
                    <td><input type="text" th:field="*{nome}" /></td>
                </tr>
                <tr>
                    <td>Cognome Dipendente:</td>
                    <td><input type="text" th:field="*{cognome}" /></td>
                </tr>
                <tr>
                    <td>Ruolo:</td>
                    <td><input type="text" th:field="*{ruolo}" /></td>
                </tr>
                <tr>
                    <td>Livello:</td>
                    <td><input type="text" th:field="*{livello}" /></td>
                </tr>   
                <tr>
                    <td>Sede:</td>
                    <td><input type="text" th:field="*{sede}" /></td>
                </tr> 
                <tr>
                    <td>Anni di servizio:</td>
                    <td><input type="text" th:field="*{anniServizio}" /></td>
                </tr>                             
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>